{% block sidebar %}

    <div id="sidebar" class="docs-sidebar column col-3">
        <ul class="docs-nav nav">
            <li class="nav-item">
                <a href="/{{ app.request.locale }}/about-me">{{ 'about-me' | trans }}</a>
            </li>
            <li class="nav-item">
                <a href="/{{ app.request.locale }}/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a href="/{{ app.request.locale }}/curriculum">Curriculum</a>
            </li>
            <li class="nav-item">
                <a href="/{{ app.request.locale }}/contact">Contacto</a>
            </li>
        </ul>
    </div>
    <a href="#sidebar-close" id="sidebar-close" class="docs-nav-clear"></a>

{% endblock %}
